# Python
__pycache__/
*.pyc
.venv/
.env

# dbt
dbt/target/
dbt/dbt_packages/
target/

# Airflow (se usar)
airflow/logs/
airflow/.env
airflow/*.db

# Streamlit
streamlit/logs/

# OS/IDE
.DS_Store
.vscode/
.idea/

# Docker
*.pid
